.profile-pic {
    border-radius: 50%;
    width: 150px;
    height:150px;
}
body {
    background-color: #557153;  
}

hr {
    background-color: #557153;
    border-style: none;
    border-top-style: dotted;
    border-color:#E6E5A3;
    border-width: 5px;
    width: 5%;
}

h1 h3 {
   color:#A9AF7E;
}