.profile-pic {
    border: 5px #AA5656 solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
body {
    background-color: #F0ECCF; 
    color:#698269; 
}
p { 
    color:#698269;
}
hr {
    background-color: #F0ECCF;
    border-color:#B99B6B;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

h1, h3, h4 {
   color:#AA5656;
}